<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        setInterval(function() {
          $.ajax({
            url: '/my_variable',
            type: 'GET',
            success: function(response) {
              $('#my-variable').text(response);
            },
            error: function(error) {
              console.log(error);
            }
          });
        }, 2000);
      });
    </script>
  </head>
  <body>
  <p>Altitude: <span id="my-variable"></span></p>
  <p>Speed: <span id="my-variable"></span></p>
  </body>
</html>